* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
     font-family: 'Arial', sans-serif;
    background-color: #f4e0ef;
    color: #333;
    margin: 0;
    padding: 0;

}

.header{
    font-family: 'Georgia', serif;
    font-size: x-large;
    background: linear-gradient(135deg, #f691e3 0%, #5fbede 100%);
    color: #430c5c;
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.about{
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #5fbede;
}


.gratitude{
    background: white;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #e382ec;
}

.image{
    width: 100%;
    height: auto;
    border-radius: 12px;
    
}

.footer{
   background: white;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #f691e3;
  text-align: center;
  background: linear-gradient(135deg, #f691e3 0%, #5fbede 100%);
}